/*!
 * S9 CSS
 */


 /* Fonts */

 @font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url("/fonts/abel.woff") format('woff');
}

@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url("/fonts/anaheim.woff") format('woff');
}

 /* Top Bar Styles - overrides */


.navbar {
  right: 0;
  left: 0;
  top:0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar .brand {
  padding: 10px 10px 10px ;
  margin-left: -20px;
  
  bottom: 0px;
  color: black;
  text-shadow: none;
  
}

#companyname {
  margin-top: 65px;
  font-size: 18px;
  font-family: 'Anaheim', sans-serif;
  /*text-transform: uppercase;*/
}


.navbar-inner {
  background: white;
  background-image: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  border-left: none;
  border-right: none;
  border-top: none;
}



.navbar .nav {
  float: right;
}

.navbar .nav > li {
  float: right;
  font-family: 'Anaheim', sans-serif;
  font-size: 18px;
}

.navbar .nav > li > a{
  text-shadow: none;
  color: black;
}

.navbar .nav > .active > a{
  color: #555555;
  text-decoration: underline;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.navbar .nav > .active > a:hover{
  color: #555555;
  text-decoration: underline;
  background-color: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* Paragraphs and intro texts */

p {
  font-family: 'Abel', sans-serif;
  font-size: 14px;
}

p.highlight {
  font-family: 'Anaheim', sans-serif;
  font-size: 16px;
}

li {
  font-family: 'Anaheim', sans-serif;
  font-size: 14px;
}


.tight_hr {
  padding: 5px;
  margin: 2px;
}

.toppad {
  margin-top: 21px;
}

.lilhead {
  font-family: 'Anaheim', sans-serif;
  font-size: 20px;
  background-color: #e5e5e5;
}

/* Front Thumbnail Images */

.frontthumb {
  display: inline-block;
  width: 15.4%;
  padding: 4px;
  min-width: 112px;
}

#frontthumbs > a:hover {
  text-decoration: none;
}

/* Blog and post pages */

.blogvideo {
  margin-left: auto;
  margin-right: auto;
  width: 460px;
}

footer > ul {

}

footer > ul > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}
