/*!
 * S9 CSS
 */


/* Fonts */

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url("/fonts/abel.woff") format('woff');
}

@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url("/fonts/anaheim.woff") format('woff');
}

/* Main stuff */

#page-title h2 {
  font-family: 'Anaheim', sans-serif;
  color : rgba(0.98, 1.0, 1.0, 0.98);
  font-weight: 900;

  text-shadow:
   -1px -1px 0 rgba(0, 0, 0, 0.8),  
    1px -1px 0 rgba(0, 0, 0, 0.8),
    -1px 1px 0 rgba(0, 0, 0, 0.8),
     1px 1px 0 rgba(0, 0, 0, 0.8);

}

/* Jumbotron stylings */

.jumbotron {
  padding: 36px;
}

.jumbotron h2 {
  font-family: 'Anaheim', sans-serif;
}
.jumbotron h3 {
  margin-top: 0.5em;
  font-family: 'Anaheim', sans-serif;
}

/* Footer Styles */

footer {
  background-color: #1A003B;
  color: #f8f8f8;
}


footer h3 {
  font-family: 'Anaheim', sans-serif;
}

footer a {
  color: #A5F0FA;
}

footer i {
  padding-right: 18px;
}


footer p {
  font-size: 12pt;
}

.places-icons {
  font-size: 18pt;
}

 /* Top Bar Styles - overrides */



.navbar-brand {
  font-family: 'Anaheim', sans-serif;
  font-size: 14pt;
  font-weight: 500;
}

.navbar-brand a {
   text-decoration: none;
}


.navbar-brand-image {
  float: left;
  margin-left: 6px;
  margin-top: 12px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .navbar-brand-image {
    float: left;
    margin-left: 21px;
    margin-top: 12px;
    margin-right: 8px;
  }


}



.navbar {
  background-color: #A5F0FA;
}


/* Content Div */

/* Main Links */

#content a {
  color: black;
  text-decoration: underline;
}

#content a:hover {
  text-decoration: underline;
}

#content img { 
  margin: 16px;
}


/* Paragraphs and intro texts */

p {
  font-family: 'Abel', sans-serif;
  font-size: 14px;
}

p.highlight {
  font-family: 'Anaheim', sans-serif;
  font-size: 16px;
}

p.clear {
  clear: both;
}


li {
  font-family: 'Anaheim', sans-serif;
  font-size: 14px;
}


.tight_hr {
  padding: 5px;
  margin: 2px;
}

.toppad {
  margin-top: 21px;
}

.lilhead {
  font-family: 'Anaheim', sans-serif;
  font-size: 20px;
  background-color: #e5e5e5;
}


/* Blog and post pages */

.blogvideo {
  margin-left: auto;
  margin-right: auto;
  width: 460px;

}

#content pre {
  clear: both;
}

