---
layout: default
title: section9 - Benjamin Blundell - Wouldn't it be nice if...
idx: blog
---

{% block content %}
{% for post in site.posts %}
  {% if post.category != 'experiment' %}
    <div class="col-md-12">
      <a href="{{post.url}}"><h3>{{post.date.strftime('%d-%m-%Y') }} - {{post.title}}</h3></a>

      <p class="toppad">{{post.introtext}} </p>
      <a href="{{post.url}}"><button type="button" class="btn btn-sm btn-primary">Read More</button></a>    
    </div>

    <hr />
  {% endif %}

  {% endfor %}

{% endblock %}