---
layout: default
title: Section9 dot co dot uk ltd - Benjamin Blundell - Wouldn't it be nice if...
idx: home
---

{% block content %}


  <div id="posts">
   

    <ul id="post_links">
    {% for post in site.posts %}
     
      <li>
        <a href="{{post.url}}">
        <div class="post_list_item">
          <div class="title">{{ post.title }}</div>
          {% if post.strapline %}
          <div class="lead">{{post.strapline}}</div>
          {% endif %}
        </div></a>
      </li>
      
    {% endfor %}
    </ul>  

    <script type="text/javascript">
      $(window).load(function(){
        $(".post_list_item").hover(
          function () {
            $(this).removeClass("hover-out");
            $(this).addClass("hover");
          },
          function () {
            $(this).removeClass("hover");
            $(this).addClass("hover-out");
          }
        );
      });



    </script>

{% endblock %}
