---
layout: default
title: section9 - Benjamin Blundell - Wouldn't it be nice if...
idx: work
---


{% block content %}
  {% for post in site.posts %}
    {% if post.category %}
      {% if post.category == 'work' %}
        
        <div class="col-md-4">
          <h3><a href="{{post.url}}" alt="{{ post.title }}">{{post.title}}</a></h3>
          <p class="toppad"> {{post.introtext}} </p>
          <a href="{{post.url}}"><button type="button" class="btn btn-sm btn-primary">Read More</button></a>
     
        </div>

      {% endif %}
    {% endif %}
  {% endfor %}
<div class="clearfix"></div>
<hr />
<br />

{% endblock %}